.help-management-section-parts {
  display: flex;
  flex-direction: column;
  width: 488px;

  h3 {
    color: blue;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
  }

  &__edit-type-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .tcms-button {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &__add-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 13px;
    color: blue;
    font-size: 1.4rem;
    gap: 0.4rem;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
